<h1>Listing streets</h1>

<table>
  <tr>
    <th>Street</th>
    <th>Region</th>
    <th>Area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @streets.each do |street| %>
  <tr>
    <td><%= street.street %></td>
    <td><%= street.region_id %></td>
    <td><%= street.area_id %></td>
    <td><%= link_to 'Show', street %></td>
    <td><%= link_to 'Edit', edit_street_path(street) %></td>
    <td><%= link_to 'Destroy', street, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Street', new_street_path %>
