<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @area.area %>
</p>

<p>
  <b>Region:</b>
  <%= @area.region_id %>
</p>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
